<form [formGroup]="nestedForm">
<h4>UserName</h4>
<input type="text" formControlName="username" >
<h4>Email</h4>
<input type="text"  formControlName="email">
<br>
<br>
<div formGroupName="skills">
<h4>Skillname</h4>
<input type="text" formControlName="skillname">
<h4>Experience</h4>
<input type="text" formControlName="experience">
<br>
<br>
<input type="radio" value="Beginner" formControlName="proficiency">Beginner
<input type="radio" value="Intermediate" formControlName="proficiency">Intermediate
<input type="radio" value="Expert" formControlName="proficiency">Expert
</div>
<br><br>
<input type="button" value="Save" (click)="Save()">&nbsp;&nbsp;
<input type="button" value="Load Data" (click)="LoadData()">
</form>
