<form [formGroup]="nestedForm">
<h4>UserName</h4>
<input type="text" formControlName="username" >
<h4>Email</h4>
<input type="text"  formControlName="email">
<br>
<br>
<input type="button" value="Add Skill" (click)="AddSkill()">
<div formArrayName="skills">
<div formGroupName="0">
  <hr>
<h4>Skillname</h4>
<input type="text" formControlName="skillname">
<h4>Experience</h4>
<input type="text" formControlName="experience">
<br>
<br>
<input type="radio" value="Beginner" formControlName="proficiency">Beginner
<input type="radio" value="Intermediate" formControlName="proficiency">Intermediate
<input type="radio" value="Expert" formControlName="proficiency">Expert
<hr>
</div>
</div>
<br><br>
<input type="button" value="Save" (click)="Save()">&nbsp;&nbsp;

</form>
